/*
You can change customize navigation bar theme here.
 
    Created on : 27 Dec, 2014, 4:48:33 PM
    Author     : Eirenaios
*/

ul {
    padding:0;
    margin:0;
    display:inline-block;
    overflow:hidden;
}

ul li {
    background:#ccc;
    display:inline-block;
    padding:0;
    margin-right:0px;
    float:left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position:relative;
}

ul li a {
    display:inline-block;
    padding:10px 20px;
    margin:0;
    color:0;
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    font-family:sans-serif;
}

ul li.active {
    background:#07a;
}

ul li.active:before {
    content:'';
    position:absolute;
    background:#ccc;
    bottom:0;
    left:-20px;
    width:20px;
    height:20px;
    border-radius: 10px;
    z-index:5;
}

ul li.active:after {
    content:'';
    position:absolute;
    background:#ccc;
    bottom:0;
    right:-20px;
    width:20px;
    height:20px;
    border-radius: 10px;
    z-index:5;
}

ul li.active a:before {
    content:'';
    position:absolute;
    background:#07a;
    bottom:0;
    left:-10px;
    width:10px;
    height:10px;
    z-index:4;
}

ul li.active a:after {
    content:'';
    position:absolute;
    background:#07a;
    bottom:0;
    right:-10px;
    width:10px;
    height:10px;
    z-index:4;
}

.container{
    background:#07a;
    position:relative;
    margin-top:-4px;
    height:200px;
    width:100%;
}